# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test files
*.test
coverage.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env files
.env
.env.local
*.local.yaml

# Build
dist/
build/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
